/* div {
    background-color: black;
} */



.drum-machine-board {
    display: flex;

}

.drum-machine-left-column {
    display: flex;
    flex-direction: column;
    width: 6%
}

/* .drum-machine-button {
    display: none;
} */

.button-label {
  border: 1px solid grey;
  background: ghoswhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}

div[class^="full-row"] {
    display:flex;    
}