/* div {
    background-color: black;
} */
body{
    background-color: cornflowerblue;
}

.drum-machine-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drum-machine-most {
    display: flex;
    margin-top: 30px;
}

.drum-machine-board {
    background-color: black;
    width: auto;
    border-radius: 10px;

}

.effects-controls {
    display: flex;
    align-items: center;
}

.drum-machine-left-column {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 416px;
    justify-content: space-around;
    padding-top: 20px;
    margin-right: 10px;
}

.effects-controls {
    border: 5px solid white;
}

.bpm {
    display: flex;
}
.non-bpm {
    display: flex;
}

.top-row {
    display: flex;
}


.top-row-button {
    margin: 10px;
    padding: 2px 5px;
    border: 1px solid gray;
    width: 10px;
    border-radius: 2px;
}

.lit-up {
    background-color: rgb(85, 85, 252);
}

.drum-machine-button {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.button-label {
  margin: 10px;
  padding: 5px;
  border: 1px solid gray;
  width: 10px;
  height: 20px;
  border-radius: 5px;
}

input:checked + label {
  background-color: rgb(228, 121, 121);
}

div[class^="full-row"] {
    display:flex;    
}
